@import "./bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:100,300,400");


.welcome{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-left: 6%;
}
.App{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.HomeWork{
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right : auto;
    width:50%;
    flex-direction: column;
   
}
.Description{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
     width:100%;
     margin-bottom: 30px;
}
.Description textarea{
    width:70%
}